:root{
    // colors 
    --color-primary : rgb(133 214 183);
    --color-primary-10 : rgb(133 214 183 , 0.1);

    --color-secondary : rgb(91 160 133);

    --color-white : rgb(255, 255, 255);
    --color-black : rgb(34, 26, 13);
    --color-light-gray : rgb(126,140,163);

    --color-green : rgb(71,134,58);
    --color-red : rgb(210, 63, 63);
    --color-red-50 : rgb(140, 37, 37);

    // fonts 
    --font-xxxx-large : 3rem;
    --font-xxx-large : 2.5rem;
    --font-xx-large : 2rem;
    --font-x-large : 1.5rem;
    --font-large : 1.25rem;
    --font-semi-large : 1.125rem;
    --font-medium : 1rem ;
    --font-normal : 0.875rem;
    --font-small : 0.75rem;
    --font-x-small : 0.625rem;
}
